@use "foundation/text";

.section {
  background: var(--dark-background);
  display: flex;
  padding: 10vh calc(100vw / 12);

  article {
    width: 50%;
    p {
      margin-top: 2vh;
    }
  }

  figure {
    order: 2;
    width: 50%;
    height: 40vh;
  }

  &.free {
    padding-top: 5rem;
  }

  &.free article {
    text-align: left;
    order: 1;

    margin-right: calc(100vw / 12 / 3);
  }

  &.setup {
    padding-top: 5rem;
  }  


  &.setup article {
    text-align: right;
    order: 3;

    margin-left: calc(100vw / 12 / 3);
  }
}

@media screen and (max-width: 768px) {
  .section {
    height: 90vh;
    flex-direction: column;
    padding: 3vh calc(100vw / 12);

    article {
      width: 100%;
      margin-top: 18vh;
      margin-bottom: 2vh;
    }

    figure {
      width: 100%;
      height: 30vh;
    }

    p {
      color: #767A82;
      font-weight: 700;
    }

    .title{
      .titleBold {
        font-size: inherit;
      }
      font-size: 54px;
      font-weight: 900;
    }

    &.setup article{
      text-align: left;
      order: 1;
    }
  }
}
