// this css could be optimized more but it's not a big deal

@keyframes slide1 {
  0% {
    width: calc(100%/6*2.5);
  }

  100% {
    width: calc(100%/6*4);
  }
}

@keyframes slide2 {
  0% {
    width: calc(100%/6*2.75);
  }

  100% {
    width: calc(100%/6*4.5);
  }
}

@keyframes slide3 {
  0% {
    width: calc(100%/6*3);
  }

  100% {
    width: calc(100%/6*5);
  }
}

@keyframes slide4 {
  0% {
    width: calc(100%/6*3.25);
  }

  100% {
    width: calc(100%/6*5.5);
  }
}

.container {
  animation-timing-function: cubiccubic-bezier(0.35, 0.29, 0.68, 0.69);
  position: absolute;
  right: 0;
  top: 15vh;
  width: 50%;
  min-width: 40vh;
  height: 100%;

  .barWrapper {
    height: 14%;
    margin-bottom: 6%;
    margin-left: auto;
    margin-right: 0;

    .bar {
      border-radius: 10000px 0 0 10000px;
      height: 100%;
    }

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;

    &:nth-child(1) {
      animation-name: slide1;
      animation-delay: 0s;

      .bar {
        background: linear-gradient(98.23deg, var(--primary-green) 0%, var(--primary-blue) 154.02%);
      }
    }

    &:nth-child(2) {
      animation-name: slide2;
      animation-delay: -0.5s;

      .bar {
        background: linear-gradient(98.48deg, var(--primary-green) -15.38%, var(--primary-blue) 136.17%);
      }
    }

    &:nth-child(3) {
      animation-name: slide3;
      animation-delay: -0.9s;

      .bar {
        background: linear-gradient(98.22deg, var(--primary-green) -31.14%, var(--primary-blue) 119.42%);
      }
    }

    &:nth-child(4) {
      animation-name: slide4;
      animation-delay: -1.2s;

      .bar {
        background: linear-gradient(98.34deg, var(--primary-green) -52.31%, var(--primary-blue) 103.33%);
      }
    }
  }
}
