// this css could be optimized more but it's not a big deal

@keyframes slide1 {
  0% {
    padding-left: 45%;
  }

  100% {
    padding-left: 65%;
  }
}

@keyframes slide2 {
  0% {
    padding-left: 30%;
  }

  100% {
    padding-left: 50%;
  }
}

@keyframes slide3 {
  0% {
    padding-left: 15%;
  }

  100% {
    padding-left: 35%;
  }
}

@keyframes slide4 {
  0% {
    padding-left: 0%;
  }

  100% {
    padding-left: 20%;
  }
}

.container {
  animation-timing-function: cubic-bezier(0.32, 0.1, 0.25, 0.97);
  display: grid;
  justify-content: right;
  grid-template-columns: 45%;
  position: absolute;
  top: -5vh;
  row-gap: 8vh;
  width: 100%;

  .barWrapper {
    .bar {
      border-radius: 100px 0px 0px 100px;
      height: 15vh;
    }

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;

    &:nth-child(1) {
      padding-left: 45%;
      animation-name: slide1;
      animation-delay: -2s;

      .bar {
        background: linear-gradient(98.23deg, #2af588 0%, #405a9b 154.02%);
      }
    }

    &:nth-child(2) {
      padding-left: 30%;
      animation-name: slide2;
      animation-delay: -1.5s;

      .bar {
        background: linear-gradient(98.48deg, #2af588 -15.38%, #405a9b 136.17%);
      }
    }

    &:nth-child(3) {
      padding-left: 15%;
      animation-name: slide3;
      animation-delay: -1s;

      .bar {
        background: linear-gradient(98.22deg, #2af588 -31.14%, #405a9b 119.42%);
      }
    }

    &:nth-child(4) {
      padding-left: 0%;
      animation-name: slide4;
      animation-delay: -0.5s;

      .bar {
        background: linear-gradient(98.34deg, #2af588 -52.31%, #405a9b 103.33%);
      }
    }
  }
}
