.footer {
  background: #26282c;
  min-height: 100vh;
  position: relative;
  width: 100%;

  h1 {
    font-style: 'Chillax';
    color: #e3e3e3;
    position: absolute;
    text-align: left;
    font-size: 8rem;
    width: 50vw;
    top: 10vh;
    left: 5vw;
  }

  li {
    margin-top: 2vh;
  }

  a {
    width: fit-content;
    color: #e3e3e3;
    text-decoration: none;
    font-size: 1.5rem;

    &:hover {
      text-decoration: white solid underline;
    }
  }

  .content {
    list-style: none;
    position: absolute;
    left: 5vw;
    bottom: 5vh;
  }

  .downloadButton {
    margin-bottom: 10vh;
    button {
      font-style: 'Satoshi';
      width: 15vw;
      height: 2.5vw;
      color: #e3e3e3;
      font-size: 1.25rem;
      background-image: linear-gradient(270deg, #2af588 0%, #334675 99.99%);
      border-radius: 2vmin;
    }
  }

  .copyright {
    margin-top: 20vh;
    color: #e3e3e3;
  }

  .svg {
    position: absolute;
    right: 0px;
    bottom: 10vh;
    width: 50vw;
    height: 90vh;
  }
}
