#titleSection {
    background: #36393f;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

#titleSection #headerGrid {
    grid-template-columns: auto auto auto auto;
    position: absolute;
    display: grid;
    right: 5vw;
    top: 4vh;
}

#titleSection #title{
    text-align: left;
    color: #e3e3e3;
    position: absolute;
    width: min-content;
    font-size: 1.5rem;
    padding: 20vh;
}

#titleSection h1 {
    font-family: 'Chillax';
    font-size: 8rem;
    font-weight: 600;
    line-height: 14rem;
    margin-bottom: 1rem;
}

#titleSection h2 {
    font-family: 'Satoshi';
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 120%;
}

#hLink {
    text-decoration: none;
    line-height: 27px;
    font-weight: 700;
    font-size: 1.75rem;
    color: #E3E3E4;
    width: 8.33vw;
}

#hLink:hover {
    text-decoration: white solid underline;
}