@use 'foundation/text';

@media screen and (max-width: 768px) {
  .linksDesktop{
    display: none; 
  }
  .navGitHub {
    display: none;
  }
  .toggleMenu {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .linksDesktop{
    display: flex; 
    flex-direction: row;
    align-items: center;
  }
  .navGitHub{
    display: block;
  }
  .toggleMenu{
    display: none;
  }
  .navBottom {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;

  }
}

.container {
  background: var(--dark-background-accent);
  height: 90vh;
  // position: relative;
  width: 100%;
}

.headlineContainer {
  position: absolute;
  width: min-content;
  margin-top: 20vh;
  margin-left: calc(100vw/12);

  h1 {
    margin-bottom: 1rem;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; // O_O, lets hope no one write `z-index: 1000` in the future
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--bright-text);
  background: var(--dark-background-accent);
  border-bottom: 1px solid #aaaaaa;

  .navTop {
    height: 5rem;
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(100vw/12);
    border-bottom: 1px solid #aaaaaa;

  
    .navLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      a {
        @extend .bold, .small;
        display: flex;
        margin-right: 2rem;
    
        .linkImage {
          height: 27px;
          width: 27px;
        }
      }

      .toggleMenu {
        margin-right: 2rem;
      }
    }
  
    .navRight {
      // display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0;
  
      a {
        align-items: center;
        margin-left: 2rem;
      }
    }
  }

  .navBottom {
    width: auto;
    padding: 0 calc(100vw/12);
    // border-bottom: 1px solid #aaaaaa;

    .mobileMenu {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;

      a {
        @extend .bold, .small;
        margin-top: 2rem;
      }
    }
  }

  .opened {
    max-height: 100vh;
    transition: max-height 0.3s ease-in-out;
  }

  .closed {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;

  }
}

.down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}

.linkImage {
  height: 27px;
  width: 27px;
  cursor: pointer;
}

a {
  cursor: pointer;
}
