.container {
  background: var(--dark-background-accent);
  height: 90vh;
  position: relative;
  width: 100%;
}

.title {
  text-align: left;
  color: var(--bright-text);
  position: absolute;
  width: min-content;
  font-size: 1.5rem;
  margin-top: 20vh;
  margin-left: calc(100vw/12);

  h1 {
    font-family: 'Chillax';
    font-size: 8rem;
    font-weight: 600;
    line-height: 14rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-family: 'Satoshi';
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 120%;
  }
}

.header {
  position: absolute;
  right: 5vw;
  top: 4vh;
  display: flex;

  a {
    text-decoration: none;
    line-height: 27px;
    font-weight: 700;
    font-size: 1.75rem;
    color: var(--bright-text);
    margin-left: 2rem;

    &:hover {
      text-decoration: white solid underline;
    }
  }
}
