@use 'foundation/text';

.container {
  background: var(--dark-background-accent);
  height: 90vh;
  position: relative;
  width: 100%;
}

.title {
  position: absolute;
  width: min-content;
  margin-top: 20vh;
  margin-left: calc(100vw/12);

  h1 {
    margin-bottom: 1rem;
  }
}

.header {
  position: absolute;
  right: 5vw;
  top: 4vh;
  display: flex;

  a {
    // not fixing the hard-coded font because we are redoing the navbar anyways
    line-height: 27px;
    font-weight: 700;
    font-size: 1.75rem;
    margin-left: 2rem;
  }
}
