.page {
  --primary-blue: #334675;
  --primary-green: #2af588;
  --darker-background: #1d1e21;
  --dark-background: #26282c;
  --dark-background-accent: #36393f;
  --light-background: #e5e7eb;
  --bright-text: #e3e3e4;
  --fade-text: #767a82;
  --std-gradient: linear-gradient(45deg, #2AF588 0%, #334675 100%);
  --lighter-gradient: linear-gradient(80deg, #2AF588 0%, #334675 200%);
  --selection-green: #6dd277;
  --selection-red: #d26d6d;
}
