.page {
  --primary-blue: #334675;
  --primary-green: #2af588;
  --darker-background: #1d1e21;
  --dark-background: #26282c;
  --dark-background-accent: #36393f;
  --light-background: #e5e7eb;
  --bright-text: #e3e3e4;
  --fade-text: #767a82;
  --std-gradient: linear-gradient(270deg, #2af588 0%, #334675 99.99%);
  --selection-green: #6dd277;
  --selection-red: #d26d6d;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}
