// TODO

section#security {
    background: #26282C;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

#imageContainer {
    position: absolute;
    min-width: 20vw;
    min-height: 20vh;
    width: auto;
    height: auto;
}

#lock {
    position: absolute;

}