@use "foundation/text";

.container {
  background: var(--dark-background);
  min-height: 150vh;
  padding-top: 25vh;
  padding-bottom: 15vh;
  padding-top: 5rem;
  width: 100%;

  .subcontainer {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10vw;
    padding-bottom: 15vh;

    ul.parameters {
      list-style: none;
      width: 40%;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 70vh;

        p {
          line-height: 1.8rem;
        } 
      }
    }
  }

}

.stickySectionContainer{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stickyBoxBounds {
  position: sticky;
  top: 20vh;
  height: 100%;
  width: 40%;

  .stickyBox {
    height: 60vh;
  }
}

@media screen and (max-width: 768px){
  .stickySectionContainer {
    .parameters li {
      width: 85vw;
        
      h4 {
        margin-bottom: 10px;
      }

      p {
        color: var(--mid-grey-text);
      }
    }
  }
}