section#about {
    background: #26282C;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

body.aboutBody {
    font-weight: 700;
    color: #e3e3e3;
    position: absolute;
    width: 35vw;
    height: 40vh;
}

.aboutBody p{
    margin-top: 2vh;
    font-size: 1.25rem;
    font-family: 'Satoshi';
}

body#free {
    left: 10vw;
    top: 5vh;
    text-align: left;
}

body#setup {
    right: 10vw;
    bottom: 5vh;
    text-align: right;
}

body h1 {
    font-size: 500%;
    line-height: 95%;
}

#free h2 {
    font-size: 500%;
    color: grey;
}

#setup h2 {
    font-size: 200%;
    color: grey;
}

#free h3 {
    display: inline;
    background-clip: unset; /* here to avoid warnings */
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    background-image: var(--std-gradient);
    font-weight: 900;
}

div#free {
    position: absolute;
    width: 40vw;
    height: 40vh;

    top: 5vh;
    right: 10vw;
}

div#setup {
    position: absolute;
    width: 40vw;
    height: 40vh;

    top: 55vh;
    left: 10vw;
}