:root {
  --primary-blue: #334675;
  --primary-green: #2AF588;
  --darker-background: #1D1E21;
  --dark-background: #26282C;
  --dark-background-accent: #36393f;
  --light-background: #E5E7EB;
  --bright-text: #E3E3E4;
  --fade-text: #767A82;
  --std-gradient: linear-gradient(270deg, #2AF588 0%, #334675 99.99%);
  --selection-green: #6DD277;
  --selection-red: #D26D6D;
}

@-webkit-keyframes scroll { 
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}
