:root {
  --primary-blue: #334675;
  --primary-green: #2AF588;
  --darker-background: #1D1E21;
  --dark-background: #26282C;
  --dark-background-accent: #36393f;
  --light-background: #E5E7EB;
  --bright-text: #E3E3E4;
  --fade-text: #767A82;
  --std-gradient: linear-gradient(270deg, #2AF588 0%, #334675 99.99%);
  --selection-green: #6DD277;
  --selection-red: #D26D6D;
}

@keyframes slide1 {
  0% { padding-left: 45%; }
  100% { padding-left: 65%; }
}

@keyframes slide2 {
  0% { padding-left: 30%; }
  100% { padding-left: 50%; }
}

@keyframes slide3 {
  0% { padding-left: 15%; }
  100% { padding-left: 35%; }
}

@keyframes slide4 {
  0% { padding-left: 0%; }
  100% { padding-left: 20%; }
}

.Header-Gradient {
  background-clip: unset; /* here to avoid warnings */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  background-color: var(--std-gradient);
  width: fit-content;
  font-weight: 900;
}

.Header-White {
  color: #E3E3E4;
  width: fit-content;
}

.Header-Grey {
  color: grey;  
  width: fit-content;
}

.Section-Default {
  background-color: var(--dark-background);
  width: 100%;
  position: relative;
}

.Text-Paragraph {
  color: #E3E3E4;
  font-family: 'Satoshi';
}

.Bar-Container {
  animation-timing-function:cubic-bezier(.32,.1,.25,.97);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
}

.App-Bar {
  height: 12vh;
  border-radius: 100px 0px 0px 100px;
}

.Image-Box {
  border: 0.5vmin solid #767A82;
  border-radius: 2vmin;
}

.App {
  text-align: center;
}

.App-bar-box {
  display: grid;
  justify-content: right;
  grid-template-columns: 45%;
  position: absolute;
  row-gap: 8%;
  width: 100%;
}

#Bar-Container-1 {
  padding-left: 45%;
  animation-name: slide1;
  animation-delay: -2s;
}

#Bar-Container-2 {
  padding-left: 30%;
  animation-name: slide2;
  animation-delay: -1.5s;
}

#Bar-Container-3 {
  padding-left: 15%;
  animation-name: slide3;
  animation-delay: -1s;
}

#Bar-Container-4 {
  padding-left: 0%;
  animation-name: slide4;
  animation-delay: -0.5s;
}

#Bar1 {
  background: linear-gradient(98.23deg, #2af588 0%, #405a9b 154.02%);
}

#Bar2 {
  background: linear-gradient(98.48deg, #2af588 -15.38%, #405a9b 136.17%);
}

#Bar3 {
  background: linear-gradient(98.22deg, #2af588 -31.14%, #405a9b 119.42%);
}

#Bar4 {
  background: linear-gradient(98.34deg, #2af588 -52.31%, #405a9b 103.33%);
}

.App-header {
  display: relative;
  font-size: 1.5rem;
  color: white;
}

.App-header-grid {
  position: relative;
  display: grid;
  text-align: center;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* identical to box height */
  letter-spacing: -0.01em;

  color: white;
  align-content: center;
  justify-content: right;
  grid-template-columns: auto auto auto auto;
  gap: 5vh;
  padding: 8vh;
  padding-bottom: 1vh;
  padding-right: 10vh;
}

.App-fp {
  min-height: 40rem;
  background-color: var(--dark-background-accent);
}

.App-fp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 15vh;
  margin-right: 120vh;
  color: white;
  text-align: left;
}

.App-title {
  z-index: 0;
  /* logo title */
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 12rem;
  line-height: 14rem;
  margin-bottom: 1rem;
  /* identical to box height */
  letter-spacing: -0.04em;
}

.App-header2 {
  color: slategrey;
  /* header 2 */
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  /* or 43px */
  letter-spacing: -0.01em;
}

.App-create {
  position: relative;
  height: 45rem;
  background: #36393f;
}

.App-compenent {
  margin-left: 15vh;
  margin-right: 15vh;
  height: 50vh;
  box-sizing: border-box;
  /* fade txt */

  border: .2rem solid var(--fade-text);
  border-radius: 6rem;
}

.App-searchbar {
  margin-top: 8vh;
  margin-left: 35vh;
  margin-right: 35vh;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0%;
  /* identical to box height, or 0px */
  
  letter-spacing: -0.01em;

  color: var(--dark-background-accent);
}

.input {
  text-align: center;
  width: 100%;
  height: 2.5vh;
  background: #c4c4c4;
  border: 0rem transparent;
  border-radius: 3rem;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-family: "Satoshi";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0%;
  /* identical to box height, or 0px */
  letter-spacing: -0.01em;

  color: var(--dark-background-accent);
}

.App-search-container {
  display: flex;
  justify-content: flex-end;
}

.App-search-btn {
  position:relative;
  box-sizing: border-box;
  margin-right: 0.2vh;
  margin-top: -5vh;
  padding-top: 2vh;
  width: 12.5vh;
  height: 4.5vh;
  cursor: pointer;
  background: linear-gradient(94.72deg, #2AF588 -83.64%, #334675 113.99%);
  border-radius: 3rem;

  color: var(--bright-text);
}

.App-search-btn:hover {
  background: linear-gradient(104.66deg, #2fe283 -22.99%, #40568d 144.65%);
}

#About-section {
  height: 60vh;
}

.App-about-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5rem 1rem 1rem 1rem;
  margin-left: 15vh;
  margin-right: 65rem;
  text-align: left;
}

.App-about-title-container {
  margin-bottom: 2vh;
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: -0.01em;
  display: flex;
  flex-wrap: wrap;
  line-height: 100%;
}

#about-wh {
  flex-basis: 27%; 
}



.App-about-title-gradient {
	background: linear-gradient(98.23deg, #2af588 0%, #405a9b 154.02%);
  background-clip: unset;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  
  font-weight: 900;
  flex-basis: 40%;
}

.App-about-title-text {
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 100%;

  letter-spacing: -0.01em;

  color: #E3E3E4;
}
/* ---------------------------------------------------------------- */
.App-simple-setup {
  background: var(--dark-background);
  font-family: 'Satoshi';
  height: 25rem;
}

.App-simple-setup-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 65rem;
  margin-right: 10rem;
  letter-spacing: -0.01em;
}

.App-simple-setup-superscript {
  color: #767A82;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
}

.App-simple-setup-title {
  color: white;
  font-weight: 700;
  font-size: 5.75rem;
  line-height: 7rem;
}

.App-simple-setup-text {
  color: #E3E3E4;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 100%;
}

/*security section wrapper*/
.App-security { 
  background: var(--dark-background);
  height: 60rem;
  width: 100%;
  position: relative;
}

.App-security-binary {
  font-family: sans-serif; 
  background: linear-gradient(360deg, #484c53 5.98%, rgba(38, 40, 44, 0) 100%);  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.01em;
  line-height: 100%;
  word-wrap: break-word;

  /* gives us nice text */
  background-clip: unset; /* this line is here purely to stop the compiler from giving warning */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  /*gets rid of overflow*/
  height: 40rem;
  text-overflow: clip;
  white-space: normal;
  overflow: hidden; 
}

/*lock wrapper*/
.App-security-lock {
  width: 100%;
  top: -30%;

  position: relative;

  
  display: flex;
  align-items: center;
  justify-content: center; 
}

.App-security-lock-top {
  background: #2AF588;
}

.App-security-lock-bot {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  border-radius: 4vmin;
  background: var(--std-gradient);
}

/*key wrapper*/
.App-security-lock-key {
  width: 100%;
  top: -32.512500768123444213444433333%;

  position: relative;

  
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-key-bot {
  width: 0;
  height: 0;
  border-left: 2vmin solid transparent;
  border-right: 2vmin solid transparent;
  border-bottom: 5vmin solid #26282C;
  position: absolute;
  top: 59%;
}


.App-key-top {
  background: #26282C;
  width: 4vmin;
  height: 4vmin;
  border-radius: 3vmin;
  border-top: 3vm solid ;
}

.App-security-title-one {
  font-family: 'Comic Sans MS';
  color: #767A82;
  font-size: 400%;
  font-weight: 700;
  line-height: 50%;
}

.App-security-title-two {
  font-family: 'Comic Sans MS';
  color: white;
  font-size: 400%;
  font-weight: 700;
}

.App-security-text {
  font-family: 'Comic Sans MS';
  color: white;
  font-size: 110%;
  font-weight: 500;
  margin-left: 13vw; /* (100 - 75)/2 */
  width: 74vw; /* 75% of the width of the veiwer */
}

/* code for app control section here 
.App-control {
  background: var(--dark-background);
  height: 60rem;
  width: 100%;
  position: relative;

  background-color: rgb(192, 136, 192);
  font-size: xx-large;
  font-style: 'Comic Sans MS';
}
*/

/* code for app tools section here */

.App-tools {
  background: var(--dark-background);
  height: 110rem;
  width: 100%;
  position: relative;
}

.App-tools-title-one {
  font-family: sans-serif; 
	background: linear-gradient(98.23deg, #2af588 0%, #405a9b 154.02%);
  font-weight: 900;
  font-size: 6rem;

  /* gives us nice text */
  background-clip: unset;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  width: fit-content;
  position: absolute;
  top: 5vh;
  left: 10vw;
}

/* doing it this way because lazy. fix when refactor code */
.App-tools-title-two {
  font-family: sans-serif; 
	background: white;
  font-weight: 900;
  font-size: 6rem;

  /* gives us nice text */
  background-clip: unset;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  width: fit-content;
  position: absolute;
  top: 15vh;
  left: 10vw;
}

.App-control-text-wrapper {
  /* grid things */
  display: grid;
    /* left and right margins are total 20% vw => 80% left for columns */
  grid-template-columns: 10vw 20vw 20vw 20vw 20vw 10vw;
  row-gap: 10vh;  
  grid-auto-rows: auto;

  /* position things */
  position: absolute;
  width: 100%;
  top: 35vh;  


  /* font */
  font-style: 'Satoshi';
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2rem;
}

/* columns 1 and 6 are not meant to be used. */
/* here is just demonstrating grid functionality, make actual decisions time of */
.App-control-text-one {
  grid-column: 2;
  grid-row: 1;
}

.App-control-text-two {
  grid-column: 2 / 4;
  grid-row: 2;
}

.App-control-text-three {
  grid-column: 2 / 4;
  grid-row: 3;
}

.App-control-text-four {
  grid-column: 2 / 6;
  grid-row: 4;
}

.App-control-text-five {
  grid-column: 2;
  grid-row: 5;
}

.App-control-image-stickybox {
  grid-column: 4 / 6;
  grid-row: 1 / 6;
}
.App-control-image-box {
  top: 0;
  position: sticky;
  border: 0.5vmin solid rgb(85, 79, 78);
  border-radius: 2vmin;
  width: 40vw;
  height: 30vh;
}


.App-footer {
  background: var(--dark-background);
  height: 60rem;
  width: 100%;
  position: relative;

}

/* doing it this way because lazy. fix when refactor code */
.App-footer-title {
  font-family: sans-serif; 
	background: white;
  font-weight: 900;
  font-size: 6rem;

  /* gives us nice text */
  background-clip: unset;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  text-align: left;
  width: 40vw;
  position: absolute;
  top: 15vh;
  left: 10vw;
}

.App-footer-download {

}

.App-footer-github {

}

.App-footer-wwu {

}

.App-footer-about-us { /*more like amongus */

}

.App-footer-cc {

}

.App-footer-image {

}