:root {
  --primary-blue: #334675;
  --primary-green: #2AF588;
  --darker-background: #1D1E21;
  --dark-background: #26282C;
  --dark-background-accent: #36393f;
  --light-background: #E5E7EB;
  --bright-text: #E3E3E4;
  --fade-text: #767A82;
  --std-gradient: linear-gradient(270deg, #2AF588 0%, #334675 99.99%);
  --selection-green: #6DD277;
  --selection-red: #D26D6D;
}

@keyframes slide1 {
  0% { padding-left: 45%; }
  100% { padding-left: 65%; }
}

@keyframes slide2 {
  0% { padding-left: 30%; }
  100% { padding-left: 50%; }
}

@keyframes slide3 {
  0% { padding-left: 15%; }
  100% { padding-left: 35%; }
}

@keyframes slide4 {
  0% { padding-left: 0%; }
  100% { padding-left: 20%; }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.Header-Gradient {
  background-clip: unset; /* here to avoid warnings */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  background-image: var(--std-gradient);
  width: fit-content;
  font-weight: 900;
  font-size: 500%;
  line-height: 100%;
  letter-spacing: -0.01em;
  height: 100%;
}

.Header-White {
  color: var(--bright-text);
  width: fit-content;
  font-size: 500%;
  line-height: 95%;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.Header-Grey {
  color: grey;  
  width: fit-content;
  font-size: 500%;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.Section-Default {
  background-color: var(--dark-background);
  width: 100%;
  position: relative;
}

.Text-Paragraph {
  text-align: left;
  color: var(--bright-text);
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.01em;
}

.Bar-Container {
  animation-timing-function:cubic-bezier(.32,.1,.25,.97);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 3s;
}

.App-Bar {
  height: 12vh;
  border-radius: 100px 0px 0px 100px;
}

.Image-Box {
  border: 0.5vmin solid var(--fade-text);
  border-radius: 2vmin;
}

.App {
  text-align: center;
}

.App-bar-box {
  display: grid;
  justify-content: right;
  grid-template-columns: 45%;
  position: absolute;
  row-gap: 8%;
  width: 100%;
}

#Bar-Container-1 {
  padding-left: 45%;
  animation-name: slide1;
  animation-delay: -2s;
}

#Bar-Container-2 {
  padding-left: 30%;
  animation-name: slide2;
  animation-delay: -1.5s;
}

#Bar-Container-3 {
  padding-left: 15%;
  animation-name: slide3;
  animation-delay: -1s;
}

#Bar-Container-4 {
  padding-left: 0%;
  animation-name: slide4;
  animation-delay: -0.5s;
}

#Bar1 {
  background: linear-gradient(98.23deg, #2af588 0%, #405a9b 154.02%);
}

#Bar2 {
  background: linear-gradient(98.48deg, #2af588 -15.38%, #405a9b 136.17%);
}

#Bar3 {
  background: linear-gradient(98.22deg, #2af588 -31.14%, #405a9b 119.42%);
}

#Bar4 {
  background: linear-gradient(98.34deg, #2af588 -52.31%, #405a9b 103.33%);
}

.App-header {
  display: relative;
  font-size: 1.5rem;
  color: white;
}

.App-header-grid {
  position: relative;
  display: grid;
  text-align: center;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  /* identical to box height */
  letter-spacing: -0.01em;

  color: white;
  align-content: center;
  justify-content: right;
  grid-template-columns: auto auto auto auto;
  gap: 5vh;
  padding: 8vh;
  padding-bottom: 1vh;
  padding-right: 10vh;
}

.Header-Links {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
/* identical to box height */

  letter-spacing: -0.01em;
  text-decoration: none;
  font-size: 1.5rem;
}

.App-fp {
  min-height: 40rem;
  background-color: var(--dark-background-accent);
}

.App-fp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 1rem 1rem 1rem;
  margin-left: 15vh;
  margin-right: 120vh;
  color: white;
  text-align: left;
}

.App-title {
  z-index: 0;
  /* logo title */
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 12rem;
  line-height: 14rem;
  margin-bottom: 1rem;
  /* identical to box height */
  letter-spacing: -0.04em;
}

.App-header2 {
  color: slategrey;
  /* header 2 */
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  /* or 43px */
  letter-spacing: -0.01em;
}

.App-create {
  position: relative;
  height: 45rem;
  background: var(--dark-background-accent);
}

.Compenent-img {
  margin-left: 15vh;
  margin-right: 15vh;
  height: 50vh;
  box-sizing: border-box;
  /* fade txt */

  border: 0.5vmin solid var(--fade-text);
  border-radius: 2vmin;
}

.App-searchbar {
  margin-top: 8vh;
  margin-left: 35vh;
  margin-right: 35vh;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0%;
  /* identical to box height, or 0px */
  
  letter-spacing: -0.01em;

  color: var(--dark-background-accent);
}

.input {
  text-align: center;
  width: 100%;
  height: 2.5vh;
  background: #c4c4c4;
  border: 0rem transparent;
  border-radius: 3rem;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  font-family: "Satoshi";
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 0%;
  /* identical to box height, or 0px */
  letter-spacing: -0.01em;

  color: var(--dark-background-accent);
}

.App-search-container {
  display: flex;
  justify-content: flex-end;
}

.App-search-btn {
  position:relative;
  box-sizing: border-box;
  margin-right: 0.2vh;
  margin-top: -5vh;
  padding-top: 2vh;
  width: 12.5vh;
  height: 4.5vh;
  cursor: pointer;
  background: linear-gradient(94.72deg, #2AF588 -83.64%, #334675 113.99%);
  border-radius: 3rem;

  color: var(--bright-text);
}

.App-search-btn:hover {
  background: linear-gradient(104.66deg, #2fe283 -22.99%, #40568d 144.65%);
}

#About-section {
  height: 100vh;
}

#App-about-grid {
  display: grid;
  grid-template-columns: 10vw 40vw 40vw 10vw;
  grid-template-rows: 5vh 35vh 35vh 10vh;
  row-gap: 10vh;
}

#App-about-container {
  grid-column: 2;
  grid-row: 2;
}

#About-grad-free-container {
  position: relative;
}

#About-grad-free {
  font-size: 100%;
  position: absolute;
  left: 120%;
  top: 0%;
}

#About-para {
  margin-top: 2vh;
}

#About-img-1 {
  grid-column: 3;
  grid-row: 2;
}

#About-img-2 {
  grid-column: 2;
  grid-row: 3;
}

#App-ss-container {
  grid-column: 3;
  grid-row: 3;
  position: relative;
}

#SS-header-grey {
  font-size: 2.5rem;
  margin-right: 0%;
  margin-left: auto;
}

#SS-header-white {
  margin-right: 0%;
  margin-left: auto;
}

#SS-text-para {
  text-align: right;
  margin-top: 2vh;
}
/* ---------------------------------------------------------------- */
/* Security section is beyond repair. will replace with a svg sometime */
/*security section wrapper*/
.App-security { 
  background: var(--dark-background);
  height: 60rem;
  width: 100%;
  position: relative;
}

.App-security-binary {
  font-family: sans-serif; 
  background: linear-gradient(360deg, #484c53 5.98%, rgba(38, 40, 44, 0) 100%);  font-family: 'JetBrains Mono';
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.01em;
  line-height: 100%;
  word-wrap: break-word;

  /* gives us nice text */
  background-clip: unset; /* this line is here purely to stop the compiler from giving warning */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

  /*gets rid of overflow*/
  height: 40rem;
  text-overflow: clip;
  white-space: normal;
  overflow: hidden; 
}

/*lock wrapper*/
.App-security-lock {
  width: 100%;
  top: -30%;

  position: relative;

  
  display: flex;
  align-items: center;
  justify-content: center; 
}

.App-security-lock-top {
  background: var(--primary-green);
}

.App-security-lock-bot {
  position: absolute;
  width: 18vmin;
  height: 18vmin;
  border-radius: 4vmin;
  background: var(--std-gradient);
}

/*key wrapper*/
.App-security-lock-key {
  width: 100%;
  top: -32.512500768123444213444433333%;

  position: relative;

  
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-key-bot {
  width: 0;
  height: 0;
  border-left: 2vmin solid transparent;
  border-right: 2vmin solid transparent;
  border-bottom: 5vmin solid var(--dark-background);
  position: absolute;
  top: 59%;
}


.App-key-top {
  background: var(--dark-background);
  width: 4vmin;
  height: 4vmin;
  border-radius: 3vmin;
  border-top: 3vm solid ;
}

.App-security-title-one {
  font-family: 'Comic Sans MS';
  color: var(--fade-text);
  font-size: 400%;
  font-weight: 700;
  line-height: 50%;
}

.App-security-title-two {
  font-family: 'Comic Sans MS';
  color: white;
  font-size: 400%;
  font-weight: 700;
}

.App-security-text {
  font-family: 'Comic Sans MS';
  color: white;
  font-size: 110%;
  font-weight: 500;
  margin-left: 13vw; /* (100 - 75)/2 */
  width: 74vw; /* 75% of the width of the veiwer */
}

/* ---------------------------------------------------------------- */

/* code for app control section here  */
.App-control {
  z-index: -1;
  background: var(--dark-background);
  height: 60rem;
  width: 100%;
  position: relative;

  font-size: xx-large;
  font-style: 'Comic Sans MS';
}

.App-control-title-one {
  position: absolute;
  left: 15%;
  top: 15%;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  /* identical to box height, or 96px */

  text-align: center;
  letter-spacing: -0.01em;

  color: white;
}

.App-control-title-two {
  position: absolute;
  left: 35%;
  top: 35%;
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  /* identical to box height, or 96px */

  text-align: center;
  letter-spacing: -0.01em;

  color: white;
}

.App-control-text {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 60%;

  /* body */

  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  /* or 20px */

  text-align: center;
  letter-spacing: -0.01em;

  color: white;
}

.slider {
  z-index: -1;
  display: flex;
  background: var(--dark-background);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: inherit;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, var(--dark-background) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 250px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  align-self: center;
}

.slider .slide {
  height: 200px;
  width: 250px;
}
/* code for app tools section here */

#Tools-section {
  height: 100rem;
}

#Tools-title-grad {
  position: absolute;
  top: 0vh;
  left: 10vw;
}

#Tools-title-white {
  position: absolute;
  top: 10vh;
  left: 10vw;
}

#Control-text-wrapper {
  /* grid things */
  display: grid;
    /* left and right margins are total 20% vw => 80% left for columns */
  grid-template-columns: 10vw 20vw 20vw 20vw 20vw 10vw;
  row-gap: 10vh;  
  grid-auto-rows: auto;

  /* position things */
  position: absolute;
  width: 100%;
  top: 35vh;  
}

/* columns 1 and 6 are not meant to be used. */
/* here is just demonstrating grid functionality, make actual decisions time of */
#Control-text-one {
  grid-column: 2;
  grid-row: 1;
}

#Control-text-two {
  grid-column: 2 / 4;
  grid-row: 2;
}

#Control-text-three {
  grid-column: 2 / 4;
  grid-row: 3;
}

#Control-text-four {
  grid-column: 2 / 6;
  grid-row: 4;
}

#Control-text-five {
  grid-column: 2;
  grid-row: 5;
}

.App-control-image-stickybox {
  grid-column: 4 / 6;
  grid-row: 1 / 6;
}

#Control-sticky-img {
  position: sticky;
  top: 0;
  width: 40vw;
  height: 30vh;
}

/* ---------------------------------------------------------------- */

#Footer {
  height: 60rem;
}

#Footer-title {
  position: absolute;
  text-align: left;
  font-size: 800%;
  top: 15vh;
  left: 10vw;
  width: 50vw;
}

.Footer-Links {
  position: absolute;
  text-decoration: none;
  font-size: 1.5rem;
  left: 10vw;
}

#Footer-download {
  bottom: 45vh;
  left: 20vw;
}

#Footer-github {
  bottom: 22vh;
}

#Footer-wwu {
  bottom: 25vh;
}

#Footer-about-us { /*more like amongus */
  bottom: 28vh;
}

#Footer-cc {
  bottom: 5vh;
  font-size: 0.8rem;
}

#Footer-image {
  position: absolute;
  bottom: 5vh;
  right: 10vh;
  width: 50vw;
  height: 50vh;
}