#container {
    animation-timing-function: cubic-bezier(.32,.1,.25,.97);
    display: grid;
    justify-content: right;
    grid-template-columns: 45%;
    position: absolute;
    top: -5vh;
    row-gap: 8vh;
    width: 100%;
}

@keyframes slide1 {
    0% { padding-left: 45%; }
    100% { padding-left: 65%; }
}

@keyframes slide2 {
    0% { padding-left: 30%; }
    100% { padding-left: 50%; }
}

@keyframes slide3 {
    0% { padding-left: 15%; }
    100% { padding-left: 35%; }
}

@keyframes slide4 {
    0% { padding-left: 0%; }
    100% { padding-left: 20%; }
}

#container1 {
    padding-left: 45%;
    animation-name: slide1;
    animation-delay: -2s;

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
}

#container2 {
    padding-left: 30%;
    animation-name: slide2;
    animation-delay: -1.5s;

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
}

#container3 {
    padding-left: 15%;
    animation-name: slide3;
    animation-delay: -1s;

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
}

#container4 {
    padding-left: 0%;
    animation-name: slide4;
    animation-delay: -0.5s;

    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
}

#bar1 {
    background: linear-gradient(98.23deg, #2af588 0%, #405a9b 154.02%);
    border-radius: 100px 0px 0px 100px;
    height: 15vh;
  }
  
#bar2 {
    background: linear-gradient(98.48deg, #2af588 -15.38%, #405a9b 136.17%);
    border-radius: 100px 0px 0px 100px;
    height: 15vh;
}

#bar3 {
    background: linear-gradient(98.22deg, #2af588 -31.14%, #405a9b 119.42%);
    border-radius: 100px 0px 0px 100px;
    height: 15vh;
}

#bar4 {
    background: linear-gradient(98.34deg, #2af588 -52.31%, #405a9b 103.33%);
    border-radius: 100px 0px 0px 100px;
    height: 15vh;
}